
<header class="header">
  <mat-toolbar class="toolbar" color="primary">
      <div class="title">
          HIVE-ai Robotnicks - pixel robots, system reboot ... <span class="qbot">[ -O- ] ] -O- [</span>
      </div>
      <div class="flex-divider"></div>
      <div class="search-box">
        <mat-form-field class="example-full-width">
          <input type="tel" matInput>
        </mat-form-field>
      </div>
  </mat-toolbar>
</header>

<!-- will be hidden on large screens -->
<!--
<section class="container">
  <div class="row">
    <mat-card class="col-md-6">1</mat-card>
    <mat-card class="col-md-6">2</mat-card>
    <mat-card class="col-md-6 d-block d-lg-none">3</mat-card>
    <mat-card class="col-md-6 d-block d-lg-none">4</mat-card>
  </div>
</section> -->
<section id='qbot' class='qbot'>
  <svg width="1920" height="120" viewBox="0 0 1920 120" xmlns="http://www.w3.org/2000/svg">
    <ng-container *ngFor="let item of polygons">
        <svg id='{{item.type}}'>
        {
            item.type,
            yurzui,
            polygon { <svg:polygon [attr.points]="item.points"/> }
            circle  { <svg:circle [attr.cx]="item.x" [attr.cy]="item.y" [attr.r]="radius"/> }
            polygon { <svg:polygon [attr.points]="item.points2"/> }
        }
      </svg>
    </ng-container>
  </svg>
</section>

<!--
<section id="canvas" class='canvas'>
  <svg id="SVG_scene" class='svg-scene' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" (onload)="svgInit()"></svg>
</section> -->

<section id="canvas" class='canvas'>
  <svg id="SVG_scene2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1920" height="600"></svg>
</section>


<section>
  <button (click)="superSizeMe()">SUPERSIZE</button>
  <button (click)="miniSizeMe()">MINISIZE</button>
  <button (click)="showMe()">SHOWME</button>
  <button (click)="drawPlan()">DRAWME</button>
  <button (click)="drawPlanLinear()">DRAWMELINEAR</button>
  <button (click)="nodeMe()">NODEME</button>
  <button (click)="leftMe()">LEFTME</button>
  <button (click)="rightMe()">RIGHTME</button>
  <button (click)="moveMe()">MOVEME</button>
</section>


<footer></footer>